@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Test Söhne Font Family */
  @font-face {
    font-family: 'Test Söhne';
    src: url('/fonts/TestSöhne-Light.woff2') format('woff2'),
      url('/fonts/TestSöhne-Light.woff') format('woff'),
      url('/fonts/TestSöhne-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Test Söhne';
    src: url('/fonts/TestSöhne-Regular.woff2') format('woff2'),
      url('/fonts/TestSöhne-Regular.woff') format('woff'),
      url('/fonts/TestSöhne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Canela Deck Trial Font Family */
  @font-face {
    font-family: 'Canela Deck Trial';
    src: url('/fonts/CanelaDeckTrial-Bold.woff2') format('woff2'),
      url('/fonts/CanelaDeckTrial-Bold.woff') format('woff'),
      url('/fonts/CanelaDeckTrial-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Canela Deck Trial';
    src: url('/fonts/CanelaDeckTrial-BoldItalic.woff2') format('woff2'),
      url('/fonts/CanelaDeckTrial-BoldItalic.woff') format('woff'),
      url('/fonts/CanelaDeckTrial-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-600 {
    animation-delay: 600ms;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}